body {
   padding: 25px;
   text-align: center;
   background-size: cover;
   background-image: url("C:\Users\nicoa\Desktop\henry\M2\RYM\d2fd77347a103bdf44215c1ab20a37d1.jpg");
   background-repeat: no-repeat;
}
